
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.home-content {
    text-align: center;
}

button#dark-mode-toggle {
    cursor: pointer;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
