---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import SocialLinks from '../components/SocialLinks.astro';
import Navigation from '../components/Navigation.astro';

const socialLinks = [
  {
    platform: 'GitHub',
    url: 'https://github.com/KunalMaverick',
    icon: 'fa-brands fa-github'
  },
  {
    platform: 'Twitter',
    url: 'https://x.com/DeVere_Maverick',
    icon: 'fa-brands fa-x-twitter'
  },
  {
    platform: 'LinkedIn',
    url: 'https://www.linkedin.com/in/kunal-kishore-716a83176/',
    icon: 'fa-brands fa-linkedin'
  }
];
---

<Layout title="Kunal Kishore">
  <Navigation />
  <main>
    <Profile
      name="Kunal Kishore"
      imageUrl="https://placekitten.com/200/200"
    />
    <SocialLinks links={socialLinks} />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: var(--text-color);
    font-size: 20px;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
